{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'Social/base.css' %}"/>
    <script src="{% static 'Social/base.js'%}"></script> 
    <title>Zoom Meetings</title>
</head>                              
<body>
    <section>
        <!--for demo wrap-->
        <h1>Zoom Meetings</h1>
        <div><a href="{% url 'add'%}" >Create Meeting</a> </div>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                
                <th>Topic</th>
                <th>Start Time</th>
                <th>Duration in Minutes</th>
                <th>Created Time </th>
                <th>Join URL</th>
                <th>Action</th>
                
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              
                {% block content %} {% endblock %}
            </tbody>
          </table>
        </div>
      </section>
      
      
      <!-- follow me template -->
      <div class="made-with-love">
        Made with
        <i>♥</i> by
        <a target="_blank" href="#">Junaid</a>
      </div>
</body>
</html>