{% extends "Meeting/base.html" %}
{% block content %}

{% for record in event_list %} 
  <tr>
    <td>{{record.meeting_topic}}</td>
    <td>{{record.meeting_starttime}}</td>
    <td>{{record.meeting_duration}}</td>
    <td>{{record.meeting_created}}</td>
    <td><a href={{record.meeting_url}} target = "_blank"><u>Click To Join</u></a></td>
    <td><a href="{% url 'edit' record.object_id %}"> Edit </a> <a href="{% url 'delete' record.object_id %}"> Delete </a> 
  </tr>
   
{% endfor %}

{% endblock %}

  